{% extends "maestra.html" %}
{% block title %}{{ error.name or "Página no encontrada" }}{% endblock %}

{% block contenido %}
<section class="hero is-light is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Error {{ error.code or "404" }} - {{ error.name or "Página no encontrada" }}
            </h1>
            <h2 class="subtitle is-3">
                ¡Ups! La página que buscas no existe.
            </h2>
            <p class="is-size-5 mb-4">Es posible que el enlace que seguiste esté roto o que la página haya sido eliminada.</p>
            <a href="{{ url_for('juegos') }}" class="button is-primary is-large">Volver al inicio</a>
        </div>
    </div>
</section>
{% endblock %}