{% extends "maestra.html" %}
{% block title %}{{ error.name or "Método no permitido" }}{% endblock %}

{% block contenido %}
<section class="hero is-light is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Error {{ error.code or "405" }} - {{ error.name or "Método no permitido" }}
            </h1>
            <h2 class="subtitle is-3">
                El método que estás usando para acceder a esta página no es el correcto.
            </h2>
            <p class="is-size-5 mb-4">Por ejemplo, podrías estar intentando enviar datos (POST) a una página que solo se puede visualizar (GET).</p>
            <a href="{{ url_for('juegos') }}" class="button is-primary is-large">Volver al inicio</a>
        </div>
    </div>
</section>
{% endblock %}